
@font-face {
    font-family: Vollkorn;
    src: url('../fonts/Vollkorn.ttf') format('truetype');
  } 
  
@font-face {
    font-family: DMSans;
    src: url('../fonts/DMSans.ttf') format('truetype');
  } 


.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 700; */
    font-style: normal;
}


.vollkorn {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


body {
    background-color: '#F3F6EF';
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

h1 {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 72px;
    color: black;
    line-height: 1.1;
    margin: 50px 50px 0px 50px;

  }
  
h2 {
    font-family: "Vollkorn";
    font-weight:500;
    font-size:28px;
    line-height: 1.2;
    margin: 0px 50px 0px 50px;
}

p {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: black;
    margin: 0px 50px 0px 50px;
}

label {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333;
}


.aligned-container {
  display: flex;
  align-items: flex-start;
}

.aligned-container p {
  margin-left:50px;
}

.aligned-container button {
  margin-left: 800px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 48px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}